@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #f6f6f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: var(--background);
  /* background-image: url('/assets/background.png'); */
  background-position: center;
  /* background-repeat: repeat; */
  background-size: 200vw 200vh;
  min-height: 100vh;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.10);
  z-index: 0;
  pointer-events: none;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0) translateX(0);
    opacity: 0.3;
  }
  50% {
    transform: translateY(-20px) translateX(10px);
    opacity: 0.6;
  }
}