@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #f6f6f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: var(--background);
  /* background-image: url('/assets/background.png'); */
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 500vw 500vh;
  min-height: 100vh;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}